header {
  // @apply mb-4;
  margin-bottom: 1rem;

  .title {
    // @apply text-3xl text-purple-100 font-bold tracking-wide -ml-1 mb-1;
    // SCSS Equivalent to above tailwind css
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    // margin-left: -4px;
    // margin-bottom: 4px;

  }

  .subtitle {
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    opacity: 0.6;
  }
}
