<article id="cProfileListContainer">
  <header class="search-bar">
    <app-search
      fcName="name"
      [control]="filterForm.controls.name"
      [fg]="filterForm"
      labelText="Search"
      placeholder="Filter by name"
      elId="cProfileListNameFilter"
      (filter)="onFilter()"
      (apply)="applyFilter()"
    ></app-search>
  </header>
  <app-table
    [items]="items"
    [config]="config"
    [elId]="elIds.ProfileTable"
    (deleteItem)="openDeleteModal($event)"
    (orderByChanged)="handleOrderBy()"
  ></app-table>
  <app-pagination
    [totalItems]="totalItems"
    [currentPage]="currentPage"
    (pageChanged)="paginate($event)"
  ></app-pagination>
</article>
