@use 'src/_mixins.scss' as mxs;

$sidebar-bg: var(--bg-color);

.sidebar-container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  overflow-x: hidden;
}

* {
  overflow-x: hidden;
}

.sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $sidebar-bg;
  border-right-color: $sidebar-bg;
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

  width: 42px;
  padding: 0;
  &:hover {
    width: 240px;
    padding: 0 16px;
  }
}

.main-content {
  background: $sidebar-bg;
  overflow-x: hidden;
}

.logo {
  @include mxs.dash(bottom, 4px, 2px);
  @include mxs.scale-out-if-hidden();
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  height: 56px;
  font-size: 1rem;
}

.scrollbar-hider {
  background: $sidebar-bg;
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 500px;
}
