@use 'src/_mixins.scss' as mxs;

.cards-grid {
  @include mxs.dash(bottom, 32px, 2px);
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 32px;
  grid-gap: 32px;

  @media (max-width: 1600px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: 1320px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 660px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
