@use 'src/_mixins.scss' as mxs;

.button-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 8px;

  .label {
    @include mxs.scale-out-if-hidden();
  }
}

.link-button {
  width: 100%;
}

.active-link {
  background: var(--bg-color);
  // border-radius: 16px;
  // border-top-left-radius: 0;
  // border-bottom-left-radius: 0;
}

.icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
