.button-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  app-loading {
    margin-left: 8px;
  }
}

// TODO - add prop to dynamically change this
button {
  background: var(--bg-color) !important;
  * {
    color: #fff;
  }
}
