<ng-container [ngSwitch]="model">
  <button
    *ngSwitchCase="'raised'"
    mat-raised-button
    [appSetId]="elId"
    [color]="color"
    [type]="type"
    (click)="emitClick()"
  >
    <ng-container *ngTemplateOutlet="labelTemplate"></ng-container>
  </button>
  <button
    *ngSwitchCase="'stroked'"
    mat-stroked-button
    [appSetId]="elId"
    [color]="color"
    [type]="type"
    (click)="emitClick()"
  >
    <ng-container *ngTemplateOutlet="labelTemplate"></ng-container>
  </button>
  <button
    *ngSwitchCase="'flat'"
    mat-flat-button
    [appSetId]="elId"
    [color]="color"
    [type]="type"
    (click)="emitClick()"
  >
    <ng-container *ngTemplateOutlet="labelTemplate"></ng-container>
  </button>
  <button
    *ngSwitchCase="'icon'"
    mat-icon-button
    [appSetId]="elId"
    [color]="color"
    [type]="type"
    (click)="emitClick()"
  >
    <ng-container *ngTemplateOutlet="labelTemplate"></ng-container>
  </button>
  <button *ngSwitchCase="'fab'" mat-fab [color]="color" [type]="type" (click)="emitClick()">
    <ng-container *ngTemplateOutlet="labelTemplate"></ng-container>
  </button>
  <button
    *ngSwitchCase="'mini-fab'"
    mat-mini-fab
    [appSetId]="elId"
    [color]="color"
    [type]="type"
    (click)="emitClick()"
  >
    <ng-container *ngTemplateOutlet="labelTemplate"></ng-container>
  </button>
  <a *ngSwitchCase="'link'" mat-button [appSetId]="elId" [color]="color" [routerLink]="url"
    ><ng-container *ngTemplateOutlet="labelTemplate"></ng-container
  ></a>
  <button
    *ngSwitchDefault
    mat-button
    [appSetId]="elId"
    [color]="color"
    [type]="type"
    (click)="emitClick()"
  >
    <ng-container *ngTemplateOutlet="labelTemplate"></ng-container>
  </button>
</ng-container>

<ng-template #labelTemplate>
  <ng-content></ng-content>
</ng-template>
