version: "3.8"
services:
  tma.spa:
    container_name: ${APP_NAME}
    image: matheusb432/${APP_NAME}
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "${EXTERNAL_PORT}:80"
