<div
  class="slide"
  (click)="onSlideClick(slide)"
  [ngClass]="{
  weekend: slide.isWeekend,
  active: slide.selected,
  holiday: slide.isHoliday,
  special: slide.isSpecial,
}"
  [id]="'cTimesheetSlide' + slide.date"
>
  <header class="slide-header">
    <div>
      <span class="day">
        {{ slide.day }}
      </span>
      <span class="day-of-week">
        {{ slide.dayOfWeek }}
      </span>
    </div>
    <app-icon *ngIf="slide.isToday" title="Today" [icon]="Icons.Today"></app-icon>
  </header>
  <div class="slide-body">
    <ng-template [ngIf]="metrics" [ngIfElse]="noMetrics">
      <!-- TODO add integration to profiles (css for .completed & .failed) -->
      <span class="tasks" title="{{ metrics.totalTasks }} total tasks">
        <app-icon [icon]="Icons.Assignment"></app-icon>
        {{ metrics.totalTasks }}
      </span>
      <span class="hours" title="Time spent: {{ metrics.workedHours }}">
        <app-icon [icon]="Icons.Timelapse"></app-icon>
        {{ metrics.workedHours }}
      </span>
      <span class="rating" title="{{ metrics.averageRating }} average rating">
        <app-icon [icon]="Icons.Star"></app-icon>
        {{ metrics.averageRating }}
      </span>
    </ng-template>
    <ng-template #noMetrics>
      <span class="no-metrics">
        <app-icon
          [title]="!slide.selected ? 'Add timesheet' : ''"
          [icon]="Icons.AddCircleOutline"
          [size]="48"
        ></app-icon>
      </span>
    </ng-template>
  </div>
</div>
