<div
  class="slide"
  [ngClass]="{
  weekend: slide.isWeekend,
  active: slide.selected,
  holiday: slide.isHoliday,
  special: slide.isSpecial,
}"
  [id]="'cTimesheetSlide' + slide.date"
>
  <header class="slide-header">
    <div class="title">
      <span class="day">
        {{ slide.day }}
      </span>
      <span class="day-of-week">
        {{ slide.dayOfWeek }}
        <app-icon *ngIf="slide.isToday" title="Today" [icon]="Icons.Today"></app-icon>
      </span>
    </div>
    <div class="icons">
      <app-button model="icon" (clicked)="onSlideClick(slide)">
        <app-icon [icon]="Icons.Menu"></app-icon>
      </app-button>
      <!-- <app-icon title="Finished" [icon]="Icons.Check" color="accent"></app-icon> -->
    </div>
  </header>
  <div class="slide-body">
    <ng-template [ngIf]="metrics$ | async" let-metrics [ngIfElse]="noMetrics">
      <ng-template #slideBodyTemplate let-profile>
        <app-timesheet-slide-span
          [titleText]="metrics.totalTasks + ' total tasks'"
          [ngClass]="getTasksClasses(metrics, profile)"
          [profileText]="profile?.tasksTarget"
          [icon]="Icons.Assignment"
        >
          {{ metrics.totalTasks }}
        </app-timesheet-slide-span>
        <app-timesheet-slide-span
          [titleText]="'Time spent: ' + metrics.workedHours"
          [ngClass]="getTotalHoursClasses(metrics, profile)"
          [profileText]="profile?.timeTarget | time"
          [icon]="Icons.Timelapse"
        >
          {{ metrics.workedHours | time }}
        </app-timesheet-slide-span>
        <app-timesheet-slide-span
          [titleText]="metrics.averageRating + ' average rating'"
          [icon]="Icons.Star"
        >
          {{ metrics.averageRating }}
        </app-timesheet-slide-span>
      </ng-template>
      <ng-container *ngTemplateOutlet="slideBodyTemplate; context: { $implicit: profile$ | async }">
      </ng-container>
    </ng-template>
    <ng-template #noMetrics>
      <span class="no-metrics">
        <app-icon
          [title]="!slide.selected ? 'Add timesheet' : ''"
          [icon]="Icons.AddCircleOutline"
          [size]="48"
        ></app-icon>
      </span>
    </ng-template>
  </div>
</div>
