$slide-width: 160px;

.slide {
  position: relative;
  width: $slide-width;
  height: calc($slide-width / 3) * 2;
  padding: 1rem;
  cursor: pointer;
  background: var(--primary-darker);
  border: 1px solid #fff;
}

.slide-footer {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
}

.day {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
}

.day-of-week {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}

::ng-deep .owl-nav {
  color: #000;
}
