<p>dates-carousel works!</p>
<owl-carousel-o [options]="customOptions" #carousel>
  <ng-container *ngFor="let slide of slides">
    <ng-template carouselSlide [id]="slide.id">
      <div class="slide" (click)="test(slide)">
        <footer class="slide-footer">

          <span class="day">
            {{ slide.day }}
          </span>
          <span class="day-of-week">
            {{ slide.dayOfWeek }}
          </span>
        </footer>
      </div>
    </ng-template>
  </ng-container>
</owl-carousel-o>
<p>dates-carousel works!</p>
