@use 'src/_mixins.scss' as mxs;

$slide-width: 160px;
$slide-height: calc($slide-width / 5) * 4;
$slide-nav-width: 36px;
$border-radius: 0px;
$carousel-primary: var(--primary);
$carousel-bg: var(--accent);
$carousel-header-bg: var(--bg-color);

.carousel {
  position: relative;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: $border-radius;

  margin: 1.5rem 0;
}

.carousel-slides {
  position: relative;
  padding: 1rem 0;
  background: $carousel-bg;
  border-radius: $border-radius;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.carousel-header {
  border-bottom: 4px solid $carousel-primary;
  padding-top: 4px;
  background: $carousel-header-bg;
  border-radius: $border-radius;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.slide {
  position: relative;
  width: $slide-width;
  height: $slide-height;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  background: $carousel-header-bg;
  transition: all 0.15s ease-in-out;

  &:not(.active):hover {
    filter: brightness(0.85);
  }

  &:not(.active):active {
    filter: brightness(0.7);
  }

  &.weekend {
    .slide-header {
      background: var(--warning);
      color: #000;
    }
  }

  &.holiday {
    .slide-header {
      background: var(--danger);
      color: #fff;
    }
  }

  &.special {
    .slide-header {
      background: var(--info);
      color: #fff;
    }
  }

  &.active {
    cursor: default;

    .slide-header {
      background: $carousel-primary;
      color: #fff;
    }
  }


  .slide-header {
    display: flex;
    padding: 0.25rem;
    align-items: flex-end;
    color: var(--primary-darker);
    background: var(--primary-lighter);
    transition: all 0.3s ease-in-out;

    .day {
      font-size: 1.5rem;
      font-weight: 700;
    }

    .day-of-week {
      font-size: 0.75rem;
      font-weight: 700;
    }

    .month {
      display: block;
      margin-left: auto;
      text-align: start;
      font-size: 1rem;
      font-weight: 700;
    }
  }

  .slide-body {
    display: flex;
    flex-direction: column;

    height: 100%;
    padding: 0.25rem;

    .tasks,
    .hours,
    .rating {
      width: 100%;

      &.failed {
        color: var(--danger);
      }

      &.completed {
        color: green;
      }
    }
  }
}

.month-slide {
  position: relative;
  padding: 1rem;
  text-align: start;

  &.active {
    text-align: center;
    .month,
    .year {
      color: $carousel-primary;
    }
  }

  &.next-month {
    text-align: end;
  }

  .month {
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;

    // TODO enable carousel month clicking
    // cursor: pointer;
    // transition: all 0.15s ease-in-out;
    // &:hover {
    //   color: $carousel-primary;
    // }
  }

  .year {
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
  }
}

::ng-deep .owl-nav {
  display: none;
}

::ng-deep .owl-stage {
  margin-bottom: 0.5rem;
}

.slide-nav {
  position: absolute;
  bottom: 0;
  width: $slide-nav-width;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;
  cursor: pointer;
  opacity: 1;
  transition: all 0.15s ease-in-out;

  app-icon {
    opacity: 0;
    transition: all 0.15s ease-in-out;
  }

  &:hover {
    opacity: 1;

    app-icon {
      opacity: 1;
    }
  }

  &.inactive {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
  }
}

.slide-nav-prev {
  @extend .slide-nav;
  @include mxs.fading-bg(right);
  border-bottom-left-radius: $border-radius;
  left: 0;
}

.slide-nav-next {
  @extend .slide-nav;
  @include mxs.fading-bg(left);
  border-bottom-right-radius: $border-radius;
  right: 0;
}
