@use 'src/_mixins.scss' as mxs;

.carousel {
  position: relative;
  background: var(--primary-darker);
  padding: 1rem;
  padding-bottom: 0.5rem;
}

$slide-width: 160px;

.slide {
  position: relative;
  width: $slide-width;
  height: calc($slide-width / 3) * 2;
  padding: 1rem;
  cursor: pointer;
  background: #000;
  border: 1px solid #fff;
  transition: all 0.15s ease-in-out;

  &:hover {
    filter: brightness(0.8);
  }

  &.active {
    border: 2px solid var(--primary);
  }
}

.slide-footer {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
}

.day {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
}

.day-of-week {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}

::ng-deep .owl-nav {
  display: none;
}

::ng-deep .owl-stage {
  margin-bottom: 0.5rem;
}
$slide-nav-width: 36px;

.slide-nav {
  position: absolute;
  top: 0;
  height: $slide-nav-width * 4 + 20px;
  width: $slide-nav-width;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;
  cursor: pointer;
  opacity: 1;
  transition: all 0.15s ease-in-out;

  app-icon {
    opacity: 0;
    transition: all 0.15s ease-in-out;
  }

  &:hover {
    opacity: 1;

    app-icon {
      opacity: 1;
    }
  }

  &.inactive {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
  }
}

.slide-nav-prev {
  @extend .slide-nav;
  @include mxs.fading-bg(right);
  left: 0;
}

.slide-nav-next {
  @extend .slide-nav;
  @include mxs.fading-bg(left);
  right: 0;
}
