.input-container {
  display: flex;

 input[matinput]::-webkit-outer-spin-button,
 input[matinput]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
 }

}

.helper {
  color: #9CA3AF;
}

app-icon {
  margin-right: 8px;
  cursor: pointer;
}
