.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  // height: calc(100vh - 64px);
  height: calc(100vh);
  background: linear-gradient(45deg, var(--primary), var(--accent));
}

.not-found-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 440px;
  height: 100%;
  max-height: 440px;
  padding: 2rem;
  border-radius: 0.5rem;
  // background gradient between pink and grey
  background: #fff;
  color: var(--primary-darker);
  // background-color: #fff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

header {
  .title {
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
    text-align: center;
    background: linear-gradient(45deg, var(--primary), var(--accent));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .subtitle {
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
  }
}

.button-label {
  font-size: 1.5rem;
}
