<form id="cLoginFormContainer" class="form-layout" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-grid">
    <app-input
      fcName="userNameOrEmail"
      [control]="userNameOrEmail"
      labelText="User name or Email"
      placeholder="Enter your user name or email"
      elId="cLoginFormUserNameOrEmail"
      [fg]="form"
    ></app-input>
    <!-- TODO add helpers to detail what the password should have in signup form -->
    <app-input
      fcName="password"
      [control]="password"
      labelText="Password"
      [type]="passwordVisible ? 'text' : 'password'"
      placeholder="Enter your password"
      elId="cLoginFormPassword"
      [labelIcon]="visibilityIcon"
      [fg]="form"
    ></app-input>

    <div class="form-buttons">
      <app-button model="raised" color="accent" [elId]="elIds.LoginSubmit" type="submit">Login</app-button>
    </div>
  </div>
</form>
