<form [id]="elIds.LoginForm" class="side-form-layout" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-grid">
    <app-input
      fcName="userNameOrEmail"
      labelText="User name or Email"
      placeholder="Enter your user name or email"
      [formId]="elIds.LoginForm"
      [fg]="form"
    ></app-input>
    <app-input
      fcName="password"
      labelText="Password"
      [type]="passwordVisible ? 'text' : 'password'"
      placeholder="Enter your password"
      [labelIcon]="visibilityIcon"
      [formId]="elIds.LoginForm"
      [fg]="form"
    ></app-input>

    <div class="form-buttons">
      <app-button model="raised" [elId]="elIds.LoginSubmit" [disabled]="form.invalid" type="submit"
        >Login</app-button
      >
    </div>
  </div>
</form>
