<article class="stat-contents" *ngIf="avgMetrics; else noMetrics">
  <div class="stat-section">
    <h2 class="stat-title">Totals</h2>
    <app-stats [stats]="stats"></app-stats>
    <app-stats [stats]="tasksStats"></app-stats>
  </div>
  <div class="divider"></div>
  <div class="stat-section">
    <h2 class="stat-title">Averages</h2>
    <app-stats [stats]="dayStats"></app-stats>
    <app-stats [stats]="weekStats"></app-stats>
  </div>
  <div class="divider"></div>
</article>
<ng-template #noMetrics>
  <h2>No metrics found!</h2>
  <p>Create a timesheet with any profile to see your metrics here</p>
</ng-template>
