table.data-table {
  width: 100%;
  position: relative;
  border-radius: 0.25rem;
  overflow: hidden;
  margin-bottom: 1.5rem;
  border-spacing: 0;
}

.table-header {
  position: relative;
  color: #fff;
  background-color: var(--secondary);
}

.table-row {
  position: relative;
  color: #000;

  &:nth-child(odd) {
    background: #fff;
  }

  &:nth-child(even) {
    background: var(--primary-lighter);
  }
}

.table-loader {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;

  app-loading {
    position: absolute;
    z-index: 1000;
  }
}

th {
  text-transform: capitalize;
  white-space: nowrap;
}

th,
td {
  text-align: start;
  border-right: none !important;
}

.table-item {
  padding: 1rem 1.5rem;
}

.column-sort {
  cursor: pointer;
  position: relative;

  app-icon {
    opacity: 0;
    position: absolute;
    transition: all 0.2s ease-in-out;
    &.active-sort {
      opacity: 1;
    }
  }

  &:hover {
    app-icon {
      opacity: 1;
    }
  }
}

.actions {
  text-align: right;

  app-icon {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-right: 1.5rem;
  }
}

.loading-item {
  padding: 5rem;
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    background: #fff;
  }

  50% {
    background: var(--primary-lighter);
  }

  100% {
    background: #fff;
  }
}
