table.data-table {
  width: 100%;
  border-radius: 0.25rem;
  overflow: hidden;
  margin-bottom: 1.5rem;
  border-spacing: 0;
}

.table-header {
  color: #fff;
  background-color: var(--secondary);
}

.table-row {
  color: #000;

  &:nth-child(odd) {
    background: #fff;
  }

  &:nth-child(even) {
    background: var(--primary-lighter);
  }
}
th {
  text-transform: capitalize;
}

th,
td {
  text-align: start;
  border-right: none !important;
}

.table-item {
  padding: 1rem 1.5rem;
}

.actions {
  text-align: right;

  app-icon {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-right: 1.5rem;
  }
}
