<table class="data-table" [appSetId]="elId">
  <thead class="table-header" id="cTableHeader">
    <tr>
      <th
        *ngFor="let itemConfig of itemConfigs"
        class="table-item column-sort"
        [ngClass]="{ 'column-sort': !itemConfig.disabledOrderBy }"
        (click)="itemConfig.disabledOrderBy ? null : onOrderBy(itemConfig.key)"
      >
        {{ itemConfig.header }}
        <app-icon
          *ngIf="!itemConfig.disabledOrderBy"
          [ngClass]="{ 'active-sort': orderBy?.key === itemConfig.key }"
          [icon]="orderBy?.direction === 'asc' ? Icons.ArrowUpward : Icons.ArrowDownward"
          [size]="20"
        >
        </app-icon>
      </th>
      <th *ngIf="canShowActions()"></th>
    </tr>
  </thead>
  <tbody id="cTableBody">
    <tr
      *ngFor="let item of orderedItems; let itemIndex = index; trackBy: getItemId"
      class="table-row"
    >
      <td *ngFor="let itemConfig of itemConfigs" class="table-item">
        {{ getPropValue(item, itemConfig.key) | dynamic : itemConfig.pipe : itemConfig.pipeArgs }}
      </td>
      <td *ngIf="canShowActions()" class="text-right actions">
        <app-icon
          *ngFor="let icon of icons"
          [elId]="'cTable' + icon.id + itemIndex"
          [icon]="icon.icon"
          [color]="icon.color"
          [url]="icon.urlType != null ? buildUrl() : undefined"
          [queryParams]="
            icon.urlType != null
              ? buildQueryParams(item.id!, icon.urlType)
              : undefined
          "
          [clickable]="true"
          (clicked)="icon.onClick?.(item.id!)"
        ></app-icon>
      </td>
    </tr>
  </tbody>
  <div class="table-loader" *ngIf="isLoading$ | async">
    <app-loading [isLoading]="true" [size]="48"> </app-loading>
  </div>
</table>
