<table class="data-table" id="cTable">
  <thead class="table-header" id="cTableHeader">
    <tr>
      <th *ngFor="let headerKey of tableHeaders" class="table-item">{{ headerKey }}</th>
      <th *ngIf="canShowActions()"></th>
    </tr>
  </thead>
  <tbody id="cTableBody">
    <tr *ngFor="let item of items; let itemIndex = index; trackBy: getItemId" class="table-row">
      <td *ngFor="let key of tableKeys" class="table-item">{{ item[key] }}</td>
      <td *ngIf="canShowActions()" class="text-right actions">
        <app-icon
          *ngFor="let icon of icons"
          [appSetId]="'cTable' + icon.id + itemIndex"
          [icon]="icon.icon"
          [color]="icon.color"
          [url]="icon.urlType != null ? buildUrl() : undefined"
          [queryParams]="
            icon.urlType != null
              ? buildQueryParams(getItemId(itemIndex, item), icon.urlType)
              : undefined
          "
          [clickable]="true"
          (clicked)="icon.onClick?.(getItemId(itemIndex, item))"
        ></app-icon>
      </td>
    </tr>
  </tbody>
</table>
