$image-width: 500px;
$content-min-width: 280px;
$page: 784px;

.auth-container {
  display: flex;
  height: 100vh;
}

.side-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 4;

  img {
    width: $image-width;
  }
}

.page-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  min-width: $content-min-width;
  background: var(--secondary-dark);
  color: #fff;
  padding: 1rem 1.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  overflow-y: auto;
}

@media screen and (max-width: $page) {
  .auth-container {
    flex-direction: column;
  }

  .side-image {
    flex: 1;

    img {
      width: 460px;
    }
  }
}
