.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  background: var(--primary);
  height: 56px;
  padding: 16px;
}

.user-data {
  display: flex;
  align-items: center;
  column-gap: 16px;

  .user-profile-edit {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    cursor: pointer;
    column-gap: 16px;
    transition: opacity 0.15s ease-in-out;

    &:hover {
      opacity: 0.8;
    }
  }

  span {
    font-weight: bold;
  }
}
