<nav id="cNavItemsNav">
  <ul id="cNavItemsList" class="side-nav-items">
    <li class="nav-item" *ngFor="let item of items">
      <app-button
        model="link"
        [elId]="'cNavItemsButton' + item.id"
        [iconOnly]="iconOnly"
        [url]="'/' + item.link"
        [styles]="{
          color: '#fff',
          justifyContent: 'flex-start',
          borderRadius: iconOnly ? '' : '16px',
          borderTopLeftRadius: iconOnly ? '' : '0',
          borderBottomLeftRadius: iconOnly ? '' : '0',
        }"
      >
        <app-icon [icon]="item.icon" labelIcon [styles]="{ color: '#fff' }"></app-icon>
        {{ item.label }}
      </app-button>
    </li>
  </ul>
</nav>
