<form
  [id]="elIds.TimesheetForm"
  class="form-layout"
  [formGroup]="form"
  (ngSubmit)="openSaveModal()"
>
  <div class="form-grid">
    <app-datepicker
      fcName="date"
      [control]="date"
      labelText="Date"
      elId="cTimesheetFormDate"
      [fg]="form"
      [canEdit]="canEdit"
      [formId]="elIds.TimesheetForm"
      [maxDate]="tomorrow"
    ></app-datepicker>
    <app-checkbox
      fcName="finished"
      [control]="finished"
      labelText="Is Finished"
      elId="cTimesheetFormFinished"
      [fg]="form"
      [canEdit]="canEdit"
    >
    </app-checkbox>
    <ul class="note-forms" formArrayName="notes">
      <h2 class="forms-title">Notes</h2>
      <li class="note-form" *ngFor="let noteForm of noteForms.controls; let i = index">
        <app-textarea
          fcName="note"
          [control]="noteForm.controls.comment"
          labelText="Note"
          [elId]="'cTimesheetFormNote' + i"
          placeholder="Enter a note"
          [fg]="noteForm"
          [canEdit]="canEdit"
        >
        </app-textarea>
        <app-button
          model="raised"
          [elId]="'TimesheetFormRemoveNote' + i"
          (clicked)="removeNote(i)"
          *ngIf="canEdit"
          color="warn"
          >Remove Note</app-button
        >
      </li>
      <div class="form-buttons">
        <app-button
          model="raised"
          elId="TimesheetFormAddNote"
          (clicked)="addNote()"
          *ngIf="canEdit"
          color="accent"
          >Add Note</app-button
        >
      </div>
    </ul>

    <div class="form-buttons">
      <div *ngIf="showDelete()" class="left-buttons">
        <app-button
          model="raised"
          [elId]="elIds.TimesheetDelete"
          (clicked)="openDeleteModal()"
          color="warn"
          >Delete</app-button
        >
      </div>

      <app-button model="raised" elId="cTimesheetFormCancel" (clicked)="onCancel()" color="accent"
        >Cancel</app-button
      >
      <app-button model="raised" [elId]="elIds.TimesheetSubmit" *ngIf="canEdit" [disabled]="form.invalid" type="submit">{{
        submitLabel
      }}</app-button>
    </div>
  </div>
</form>
