<form
  [id]="elIds.TimesheetForm"
  class="form-layout"
  [formGroup]="form"
  (ngSubmit)="openSaveModal()"
>
  <div class="form-grid">
    <app-datepicker
      fcName="date"
      [control]="date"
      labelText="Date"
      elId="cTimesheetFormDate"
      [fg]="form"
      [canEdit]="false"
      [formId]="elIds.TimesheetForm"
      [appScrollTo]="true"
    ></app-datepicker>
    <ul
      app-form-array-layout
      titleText="Notes"
      formArrayName="notes"
      [showButtons]="canEdit"
      buttonId="Note"
      (added)="addNote()"
    >
      <li
        class="form-item"
        *ngFor="let noteForm of noteForms.controls; let i = index; trackBy: getFormItemId"
      >
        <app-textarea
          fcName="comment"
          [control]="noteForm.controls.comment"
          labelText="Note"
          [elId]="'cTimesheetFormNote' + i"
          placeholder="Enter a note"
          [fg]="noteForm"
          [canEdit]="canEdit"
        >
        </app-textarea>
        <app-button
          model="raised"
          [elId]="'TimesheetFormRemoveNote' + i"
          (clicked)="removeNote(i)"
          *ngIf="canEdit"
          color="warn"
          >Remove Note</app-button
        >
      </li>
    </ul>
    <ul
      app-form-array-layout
      titleText="Tasks"
      formArrayName="tasks"
      [showButtons]="canEdit"
      buttonId="Task"
      (added)="addTask()"
    >
      <li
        class="form-item"
        *ngFor="let taskForm of taskForms.controls; let i = index; trackBy: getFormItemId"
      >
        <app-input
          fcName="title"
          [control]="taskForm.controls.title"
          labelText="Task"
          [elId]="'cTimesheetFormTaskTitle' + i"
          placeholder="Enter the task title"
          [fg]="taskForm"
          [canEdit]="canEdit"
        >
        </app-input>
        <app-textarea
          fcName="comment"
          [control]="taskForm.controls.comment"
          labelText="Comment"
          [elId]="'cTimesheetFormTaskComment' + i"
          placeholder="Enter a Comment"
          [fg]="taskForm"
          [canEdit]="canEdit"
        >
        </app-textarea>
        <app-input
          fcName="time"
          [control]="taskForm.controls.time"
          labelText="Time"
          type="time"
          [elId]="'cTimesheetFormTaskTime' + i"
          [fg]="taskForm"
          [helpers]="['hh:mm']"
          [canEdit]="canEdit"
        ></app-input>

        <app-input
          fcName="rating"
          [control]="taskForm.controls.rating"
          labelText="Rating"
          type="number"
          [elId]="'cTimesheetFormTaskRating' + i"
          placeholder="Rate the task"
          [fg]="taskForm"
          [helpers]="['0-5']"
          [canEdit]="canEdit"
        ></app-input>
        <app-input
          fcName="importance"
          [control]="taskForm.controls.importance"
          labelText="Importance"
          type="number"
          [elId]="'cTimesheetFormTaskImportance' + i"
          placeholder="Rate the importance of the task"
          [fg]="taskForm"
          [helpers]="['1-3']"
          [canEdit]="canEdit"
        ></app-input>

        <app-button
          model="raised"
          [elId]="'TimesheetFormRemoveTask' + i"
          (clicked)="removeTask(i)"
          *ngIf="canEdit"
          color="warn"
          >Remove Task</app-button
        >
      </li>
    </ul>

    <app-checkbox
      fcName="finished"
      [control]="finished"
      labelText="Finished"
      elId="cTimesheetFormFinished"
      [fg]="form"
      [canEdit]="canEdit"
    >
    </app-checkbox>
    <footer app-fixed-buttons-layout>
      <ng-container leftButtons>
        <app-button
          model="raised"
          [elId]="elIds.TimesheetDelete"
          (clicked)="openDeleteModal()"
          color="warn"
          >Delete</app-button
        >
      </ng-container>

      <ng-container rightButtons>
        <app-button model="raised" elId="cTimesheetFormCancel" (clicked)="onCancel()" color="accent"
          >Cancel</app-button
        >
        <app-button
          model="raised"
          [elId]="elIds.TimesheetSubmit"
          *ngIf="canEdit"
          [disabled]="form.invalid"
          type="submit"
          >{{ submitLabel }}</app-button
        >
      </ng-container>
    </footer>
  </div>
</form>
