<a *ngIf="url; else iconTemplate" [routerLink]="url" [queryParams]="queryParams">
  <ng-container *ngTemplateOutlet="iconTemplate"></ng-container>
</a>

<ng-template #iconTemplate>
  <i class="icon-container">
    <mat-icon
      [id]="elId"
      aria-hidden="false"
      [ariaLabel]="ariaLabelText"
      [fontIcon]="icon"
      [color]="color"
      (click)="clicked.emit()"
      [title]="title"
      [ngClass]="{ 'action-icon': clickable }"
      [ngStyle]="{ 'font-size': size + 'px', width: size + 'px', height: size + 'px' }"
    ></mat-icon>
  </i>
</ng-template>
