@mixin dash($position, $padding: 32px, $width: 1px, $color: #43484b) {
  border-#{$position}: $width solid $color;
  padding-#{$position}: $padding;
}

@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}

@mixin add-pulse($duration: 3s) {
  animation: pulse $duration infinite;
}

@mixin fading-bg($position) {
  background: linear-gradient(to $position, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

@mixin sticky-container($paddingX) {
  position: sticky;
  z-index: 100;
  width: calc(100% + $paddingX * 2);
  margin-left: -$paddingX;
  padding-right: $paddingX;
  padding-left: $paddingX;
}

@keyframes pulse {
  0% {
    background: #fff;
  }

  50% {
    background: var(--primary-lighter);
  }

  100% {
    background: #fff;
  }
}

@function set-text-color($color) {
  @if (lightness($color) > 70) {
    @return #333;
  } @else {
    @return #fff;
  }
}
