@use './utils' as utils;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600&display=swap');

:root {
  --primary: #e91e63;
  --primary-hover: #c2185b;
  --primary-active: #ad1457;
  --primary-dark: #640a29;
  --secondary: #607d8b;
  --accent: #b0bec5;
  --bg-color: #212c31;
  --text-icons: #fff;
}

* {
  box-sizing: border-box;
}

html * {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: auto;
  background-color: var(--bg-color);
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  margin: 0;
}

.container {
  margin: 0 1rem;
}
