@use 'src/_mixins.scss' as mxs;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

:root {
  --primary: #b51249;
  --primary-hover: #c2185b;
  --primary-active: #ad1457;
  --primary-dark: #ca1453;
  --primary-darker: #6d0b2d;
  --primary-light: #f386ab;
  --primary-lighter: #faccdc;

  --danger: #f44336;
  --warning: #ff9800;
  --success: #4caf50;
  --info: #2196f3;

  --secondary: #607d8b;
  --secondary-dark: #43484b;
  --accent: #b0bec5;
  --bg-color: #212c31;
  --text-icons: #fff;
  --scrollbar-radius: 0px;
}

* {
  box-sizing: border-box;
}

html * {
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  font-weight: 500;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: var(--bg-color);
}

h1,
h2,
h3 {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin: 0;
}

.container {
  padding: 2rem;
}

.form-layout {
  margin: 0 auto;
  width: 50%;
}

.side-form-layout {
  margin: 1rem 0;
  width: 100%;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0.5rem;
  gap: 1.5rem;
}

.left-buttons {
  flex-grow: 1;
  gap: 1.5rem;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  row-gap: 2px;
  column-gap: 1rem;
}

.toast {
  & .mat-mdc-snack-bar-label {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &.success div {
    @include mxs.set-background(#4caf50);
  }

  &.error div {
    @include mxs.set-background(#f44336);
  }

  &.info div {
    @include mxs.set-background(#2196f3);
  }

  &.warning div {
    @include mxs.set-background(darken(#ff9800, 15%));
  }

  .mdc-button__label {
    color: #fff;
  }
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 0.5rem;
}

mat-form-field.input-container {
  display: flex;
  margin-bottom: 1rem;
}

.input-loading-container {
  position: absolute;
  width: 50px;
  right: 0;
  top: 18px;
}

::-webkit-scrollbar {
  width: 8px;
  background: var(--secondary);
}

::-webkit-scrollbar-thumb:horizontal {
  background: var(--primary);
  border-radius: var(--scrollbar-radius);
}

::-webkit-scrollbar-thumb:vertical {
  background: var(--primary);
  border-radius: var(--scrollbar-radius);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-dark);
}
