<form [formGroup]="form" (ngSubmit)="onSubmit ? onSubmit($event) : null">
  Value: {{ form.value | json }}

  <div class="form-grid">
    <app-input
      fcName="name"
      [control]="name"
      [fg]="form"
      labelText="Name"
    ></app-input>

    <!-- TODO implement SCSS style equivalent & remove old styles -->
    <div *ngIf="canRenderButtons()" class="flex justify-end items-center mt-2 space-x-4">
      <div class="flex-grow space-x-4">
        <app-button
          *ngIf="onDelete"
          (onClick)="onDelete()"
          label="Delete"
        ></app-button>
      </div>

      <app-button
        *ngIf="onCancel"
        (onClick)="onCancel()"
        label="Cancel"
      ></app-button>
      <app-button
        *ngIf="onSubmit"
        type="submit"
        [disabled]="form.invalid"
        label="Submit"
      ></app-button>
    </div>
  </div>
</form>
