<form [id]="elIds.ProfileForm" class="form-layout" [formGroup]="form" (ngSubmit)="openSaveModal()">
  <div class="form-grid" [appScrollTo]="true">
    <app-input
      fcName="name"
      [control]="name"
      labelText="Name"
      placeholder="Profile Name"
      elId="cProfileFormName"
      [fg]="form"
      [canEdit]="canEdit"
      [formId]="elIds.ProfileForm"
    ></app-input>

    <app-input
      fcName="timeTarget"
      [control]="timeTarget"
      labelText="Time Target"
      type="time"
      elId="cProfileFormTimeTarget"
      [fg]="form"
      [canEdit]="canEdit"
      [formId]="elIds.ProfileForm"
      [helpers]="['hh:mm']"
    ></app-input>

    <app-input
      fcName="tasksTarget"
      [control]="tasksTarget"
      labelText="Tasks Target"
      type="number"
      elId="cProfileFormTasksTarget"
      [fg]="form"
      [canEdit]="canEdit"
      [formId]="elIds.ProfileForm"
    ></app-input>

    <app-input
      fcName="priority"
      [control]="priority"
      labelText="Priority"
      type="number"
      elId="cProfileFormPriority"
      [fg]="form"
      [canEdit]="canEdit"
      [formId]="elIds.ProfileForm"
    ></app-input>

    <app-select
      fcName="profileTypeId"
      [control]="profileTypeId"
      labelText="Type"
      [options]="typeOptions$ | async"
      [elId]="elIds.ProfileFormType"
      [fg]="form"
      [canEdit]="canEdit"
      [formId]="elIds.ProfileForm"
    ></app-select>

    <div class="form-buttons">
      <div *ngIf="showDelete()" class="left-buttons">
        <app-button
          model="raised"
          [elId]="elIds.ProfileDelete"
          (clicked)="openDeleteModal()"
          color="warn"
          >Delete</app-button
        >
      </div>

      <app-button model="raised" elId="cProfileFormCancel" (clicked)="onCancel()" color="accent"
        >Cancel</app-button
      >
      <app-button
        model="raised"
        [elId]="elIds.ProfileSubmit"
        *ngIf="canEdit"
        [disabled]="form.invalid"
        type="submit"
        >{{ submitLabel }}</app-button
      >
    </div>
  </div>
</form>
