<form [id]="elIds.ProfileForm" class="form-layout" [formGroup]="form" (ngSubmit)="openSaveModal()">
  <div class="form-grid">
    <app-input
      fcName="name"
      [control]="name"
      [fg]="form"
      labelText="Name"
      placeholder="Profile Name"
      [canEdit]="canEdit"
      elId="cProfileFormName"
    ></app-input>

    <app-input
      fcName="timeTarget"
      [control]="timeTarget"
      [fg]="form"
      labelText="Time Target"
      type="time"
      [canEdit]="canEdit"
      elId="cProfileFormTimeTarget"
    ></app-input>

    <app-input
      fcName="tasksTarget"
      [control]="tasksTarget"
      [fg]="form"
      labelText="Tasks Target"
      type="number"
      [canEdit]="canEdit"
      elId="cProfileFormTasksTarget"
    ></app-input>

    <app-input
      fcName="priority"
      [control]="priority"
      [fg]="form"
      labelText="Priority"
      type="number"
      [canEdit]="canEdit"
      elId="cProfileFormPriority"
    ></app-input>

    <app-select
      fcName="profileTypeId"
      [control]="profileTypeId"
      [fg]="form"
      labelText="Type"
      [options]="typeOptions$ | async"
      [canEdit]="canEdit"
      [elId]="elIds.ProfileFormType"
    ></app-select>

    <div class="form-buttons">
      <div *ngIf="showDelete()" class="left-buttons">
        <app-button
          model="raised"
          [elId]="elIds.ProfileDelete"
          (clicked)="openDeleteModal()"
          color="warn"
          >Delete</app-button
        >
      </div>

      <app-button
        model="raised"
        elId="cProfileFormCancel"
        (clicked)="openCancelModal()"
        color="accent"
        >Cancel</app-button
      >
      <app-button model="raised" [elId]="elIds.ProfileSubmit" *ngIf="canEdit" type="submit">{{
        submitLabel
      }}</app-button>
    </div>
  </div>
</form>
