@use 'src/_mixins.scss' as mxs;

.sidebar-container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
}

.sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background: var(--primary);
  border-right: 1.5px solid var(--primary-dark);
  padding: 0 16px;
  overflow-x: hidden;
}

$sidebar-width: 28px;

.sidebar-toggle {
  position: fixed;
  top: 50%;
  left: 200px;
  height: $sidebar-width * 4;
  width: $sidebar-width;
  background: var(--bg-color);
  border: 2px solid var(--primary);
  border-left: 0;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
}

.sidebar-open {
  @extend .sidebar-toggle;
  left: 0;
}

.sidebar-close {
  @extend .sidebar-toggle;
}

.main-content {
  background:  var(--bg-color);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  font-size: 1rem;
  @include mxs.dash(bottom, 4px, 2px);
}
