<mat-sidenav-container class="sidebar-container">
  <mat-sidenav
    #sidenav
    mode="side"
    opened
    class="sidebar"
    [fixedInViewport]="false"
    [fixedTopGap]="0"
    [fixedBottomGap]="0"
  >
    <h1 class="logo">Task Manager App</h1>

    <app-nav-items [items]="navItems"></app-nav-items>
    <div class="sidebar-close" *ngIf="sidenav.opened">
      <app-icon [icon]="Icons.ChevronLeft" color="accent" [size]="44" [clickable]="true" title="Hide Sidebar" (clicked)="sidenav.close()"></app-icon>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <app-main-header></app-main-header>
    <ng-content></ng-content>
    <div class="sidebar-open" *ngIf="!sidenav.opened">
      <app-icon [icon]="Icons.ChevronRight" color="accent" [size]="44" [clickable]="true" title="Show Sidebar" (clicked)="sidenav.open()"></app-icon>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
