@use 'src/_mixins.scss' as mxs;

.sidebar-container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
}

.sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background: var(--primary);
  border-right: 1.5px solid var(--primary-dark);
  padding: 0 16px;
}

.main-content {
  background:  var(--bg-color);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  font-size: 1rem;
  @include mxs.dash(bottom, 4px, 2px);
}
